.Button {

	button, a {
		text-decoration: none;
		outline: none;
		border: none;
		background: none;
		cursor: pointer;
		font-weight: 500;
		font-size: 15px;
		font-family: "Outfit", sans-serif;
	}

	&--primary {
		button, a {
			color: #fff;
			background: #3354ff;
			padding: 10px 20px;
			border-radius: 2px;
			transition: all 0.2s;

			&:hover {
				background: darken($color: #3354ff, $amount: 5);
			}
		}
	}

	&--text {
		button, a {
			color: #000;
			transition: all 0.2s;
			color: #3354ff;

			&:hover {
				color: darken($color: #3354ff, $amount: 5);
			}
		}
	}
}