.SearchBar {
	position: relative;

	&--icon {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		right: 15px;
	}

	&--msg {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: absolute;
		left: 0;
		top: 50px;
		right: 15px;
		background: #F9E79F;
		color: #333;
		width: 100%;
		border-radius: 3px;
		padding: 10px;
		font-weight: 500;
	}

	input {
		width: 100%;
		height: 100%;
		border: 1px solid #E3E4E8;
		border-radius: 4px;
		font-family: "Outfit", sans-serif;
		font-size: 15px;
		color: #333;
		transition: all 0.2s;

		&::placeholder {
			font-family: "Outfit", sans-serif;
			color: #bfc2c9;
		}

		&:focus {
			border-color: #3354ff;
			outline: 0;
		}
	}
}