.NavBar--root {
	border-bottom: 1px solid #F1F2F3;
}

.NavBar {
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px;

	@media only screen and 
	(min-device-width: 375px) and 
	(max-device-height: 812px) and 
	(-webkit-device-pixel-ratio: 3) {
		padding: 15px 0px;
	}

	&--left {
		display: flex;
		align-items: center;
		flex: 1;

		&__logo {
			margin-right: 20px;
		}

		&__menu {
			display: none;

			@media only screen and (min-device-width: 375px) and 
			(max-device-height: 812px) and 
			(-webkit-device-pixel-ratio: 3) {
				display: block;
				margin-right: 15px;
				cursor: pointer;
			}
		}

		&__search {
			width: 80%;

			@media only screen and (min-device-width: 375px) and 
			(max-device-height: 812px) and 
			(-webkit-device-pixel-ratio: 3) {
				display: none;
			}
		}
	}

	&--right {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex: 1;

		&__links, &__buttons {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}

		&__links {
			margin-right: 50px;

			@media only screen and (min-device-width: 375px) and 
			(max-device-height: 812px) and 
			(-webkit-device-pixel-ratio: 3) {
				display: none;
			}

			&--item:not(:last-child) {
				margin-right: 32px;
			}

			&--item {

				a {
					font-weight: 500;
					font-size: 15px;
					color: #000;
					text-decoration: none;
					transition: all 0.2s;

					&:hover {
						color: #3354ff;
					}
				}
			}
		}

		&__buttons {
			&--item:not(:last-child) {
				margin-right: 20px;
			}
		}

	}
}